DB_SERVER_HOST=postgres
POSTGRES_USER=zabbix
POSTGRES_PASSWORD=change_me
POSTGRES_DB=zabbix

HOST_PHP_PORT=8080
CONTAINER_PHP_PORT=8080
PHP_TZ=change_me

CONTAINER_ZABBIX_PORT=10051
HOST_ZABBIX_PORT=10051
ZABBIX_DB_IMAGE=docker.io/postgres
ZABBIX_DB_VERSION=16-alpine3.18
ZABBIX_SERVER_IMAGE=docker.io/zabbix/zabbix-server-pgsql
ZABBIX_SERVER_VERSION=alpine-6.0-latest
ZABBIX_WEB_IMAGE=docker.io/zabbix/zabbix-web-nginx-pgsql
ZABBIX_WEB_VERSION=alpine-6.0-latest

PROMETHEUS_IMAGE=docker.io/prom/prometheus
PROMETHEUS_VERSION=v3.13.2-distroless

GRAFANA_IMAGE=docker.io/grafana/grafana
GRAFANA_VERSION=13.1-slim
HOST_GRAFANA_PORT=3000
CONTAINER_GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=change_me
GRAFANA_ADMIN_PASSWORD=change_me
GRAFANA_PLUGINS=alexanderzobnin-zabbix-app