DB_SERVER_HOST=change_me
POSTGRES_USER=change_me
POSTGRES_PASSWORD=change_me
POSTGRES_DB=change_me
HOST_ZABBIX_PORT=10051
CONTAINER_ZABBIX_PORT=10051
HOST_PHP_PORT=8080
CONTAINER_PHP_PORT=8080
PHP_TZ=change_me