[Unit]
Description=cAdvisor Container Metrics
Documentation=https://github.com/google/cadvisor
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service 
# wait for docker

[Service]
#User=cadvisor
#Group=cadvisor
Type=simple
ExecStart=/usr/local/bin/cadvisor

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target